{{>header}}

export MATLAB_DIR="{{sourcesPath}}"
export MATLAB_THREADS="{{resources.ncpus}}"

# execute Matlab command
# Parallel Computing Toolbox requires JVM !!!!!!!!
matlab -nodesktop -nosplash -nodisplay -r            \
"try,                                               "\
"    maxNumCompThreads($MATLAB_THREADS);,           "\
"    addpath('$MATLAB_DIR'),                        "\
"    {{{taskType.functionCall}}}, "\
"catch e,                                           "\
"    disp(getReport(e)),                            "\
"    exit(1),                                       "\
"end,                                               "\
"exit(0)"                                            \
&> "{{runPath}}/{{fileNames.stdJobLog}}"

{{>footer}}
